body{

    background-color: rgb(231, 229, 229);
    
}

* {
    margin: 0;
    padding: 0;
  }

/* services section styling */
#services{
    text-align:center;
}

#services > p {

    max-width:700px;
    margin:auto;
    margin-top:20px;
    text-align:justify;
    line-height:23px;
    font-size:14px;
    font-style:italic;
}

#services > h1 {

    font-size:22px;
}

#our-services{
   display: flex;
   width:100%;
   height:auto;
   margin-top:30px;
   justify-content:center;
}

#our-services > .service {
    background-color: white;
    padding:30px 5px 50px 5px;
    margin: 10px;
    height: auto;
    width: 250px;
    text-align: center;
  }

  .service > .number {
    box-sizing:border-box;
    border-radius:100%;
    width:50px;
    height:50px;
    padding:15px 0 10px 0;
    margin-bottom:15px;
    background-color:orange;
    display:inline-block;
    color:white;
    font-weight:bold;
  }

.service{
    text-align:center;
}

.service h3{
    font-size:13px;
}

.service p{

    max-width:600px;
    margin:auto;
    text-align:center;
    line-height:23px;
    font-size:12px;
    font-style:italic;
    padding:5px 3px 5px 3px;

}


/* review section styling */
#review{

    display:flex;
    width:100%;
    height:auto;
    margin-top:50px;
    margin-bottom:50px;
    background-color:black;
    padding-left:0px;
    padding-right:0px;
}

#review .review-section{

    width:50%;
    height:580px;
    padding-top:140px;
    text-align:center;
    color:white;
    background-color:black;
    box-sizing:border-box;
}

.review-section > hr{

    width:10%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    height:px;
    background-color:white;

}

.review-section > h3{

    margin-top:50px;
    margin-bottom:50px;


}

.review-section > h4{

    margin-top:40px;


}

.review-section > p{

    max-width:500px;
    display:inline-block;
    margin:auto;
    line-height:23px;
    font-size:12px;
    font-style:italic;


}



#review-image-sect{

    background-image:url("assets/image1.png");
    background-repeat:no-repeat;
    background-size:cover;
}


/* menus section styling */
#menus{
    text-align:center;
    height:auto;
}

#menus > p {

    max-width:700px;
    margin:auto;
    margin-top:20px;
    text-align:justify;
    line-height:23px;
    font-size:14px;
    font-style:italic;
}

#menus > h1 {

    font-size:22px;
}

#menu-list{
    display:flex;
    width:80%;
    margin:auto;
    margin-top:20px;
    height: auto;
    justify-content:space-evenly;
}

#menu-list .menu-item{
    display:flex;
    width:40%;
    height:210px;
    margin:10px;
    background-color:white;
}


#menu-list .menu-item > .menu-info{
    width:260px;
    height:180px;
    margin:10px;
    padding-left:20px;
    text-align:left;
}

#menu-image-1{
    background-image: url("assets/image3.png");
    background-repeat:no-repeat;
    background-size:contain;
}

.menu-info h4{

    margin-top:30px;
    margin-bottom:25px;


}


.menu-info h3{

    margin-top:0px;
    margin-bottom:20px;
    font-size:12px;
    color:orange;


}

.menu-info button{

    padding:5px 20px 5px 20px;
    margin-bottom:10px;
    font-size:10px;
    background-color: rgb(199, 187, 187);
    border:none;
    border-radius:3px;

}


.menu-info p{

    max-width:150px;
    display:inline-block;
    margin:auto;
    color:rgb(37, 36, 36);
    margin-bottom:20px;
    line-height:13px;
    font-size: 11px;
    font-style:italic;

}


#menu-image-2{
    background-image: url("assets/image4.png");
    background-repeat:no-repeat;
    background-size:contain;
}


#menu-image-3{
    background-image: url("assets/image5.png");
    background-repeat:no-repeat;
    background-size:contain;
}


#menu-image-4{
    background-image: url("assets/image6.png");
    background-repeat:no-repeat;
    background-size:contain;
}